@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

* {
  scroll-behavior: smooth;
}

.main-video::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  display: block;
  z-index: 0;
}

.form-group input[type='checkbox'] ~ label {
  border: 1px solid rgba(0, 0, 0, 0);
}

.form-group input[type='checkbox']:checked ~ label {
  border: 1px solid rgba(0, 0, 0, 1);
}

.-translate-xy {
  transform: translate(-50%, -50%);
}